table{
    margin: 03px;
    background-color: #fff;
}
th{
    margin: 20px;
    padding: 02px;
    border-radius: 07px;
    background-color: rgb(30, 210, 255);
    color: white;

}
td{
    margin: 20px;
    padding: 02px;
    border-radius: 07px;
    color: black;
    text-align: center;   
}
.cdp{
    float: right;
    display: inline-flex;
    border-radius: 3px;
    color: white;
    width: 30%;
    margin-bottom: 01px;
    font-family: 'Times New Roman', Times, serif;
}
#cadastrar{
    background-color: yellow;
    border: none;
    /**/
    text-align: center;
}
